body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inner-page h1 {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.button {
  display: inline-block;
  /* height: 50px; */

  font: inherit;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  /* line-height: 50px; */

  background-color: #fb565a;
  border-radius: 2px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Навигация В ШАПКЕ */

.main-header {
  background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  font-size: 16px;

  background-color: #eeeeee;
}

.site-navigation,
.user-basket {
  list-style: none;
}

.site-navigation a,
.user-basket a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

/* Здесь будет слайдер */


/* Наши услуги */

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

/* .services-button {
  width: 160px;
} */

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

/* О нас */

.about-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about p {
  color: #283136;
}

span.about-order-list {
  font-weight: 700;
}

.about-list {
  color: #283136
}

.about-features span {
  font-weight: 700;
}

.about-features dl,
.about-features dt,
.about-features dd {
  padding: 0;
  margin: 0;
}

.about-features dt {
  line-height: 18px;
  color: #283136;
}

.about-features dd {
  font-size: 45px;
  line-height: 45px; /* По макету 10px */
  font-weight: 700;
}

/* Партнеры */

.partners-list {
  list-style: none;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

/* Как нас найти */

.map h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.map-contacts {
  color: #666666;
  line-height: 18px;
  font-style: normal;
}

.map-contacts a {
  color: #666666;
}

/* Наши работы */

.works-list {
  list-style: none;
}

.works-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.works-item-link {
  color: #000000;
}

.works-item-link:hover,
.works-item-link:focus {
  color: #fb565a;
}

.works-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.works-item .works-item-text {
  line-height: 18px;
  text-align: center;
  color: #666666;
}

/* .works-item .button {
  width: 200px;
} */

.works-item .button:active {
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  line-height: 18px;
  text-align: center;
}

.pagination-item a {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* Footer */

.footer-social ul {
  list-style: none;
}

.footer-social a {
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}

.footer-slogan {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.main-footer p {
  line-height: 22px;
  color: #444444;
}

/* Модальное окно */

.modal {
  display: none;
}
