html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page h1 {
  margin: 0;
  padding-top: 78px;

  font-size: 55px;
  line-height: 1;
  text-align: center;
}

.inner-page main.container {
  margin-top: 55px;
}

.button {
  display: inline-block;

  font: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Навигация В ШАПКЕ */

.main-header {
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 49px 0 0; 

  color: #000000;
  line-height: 1.88;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 19px 0 0;
  padding-left: 0;

  list-style: none;
}

.site-navigation {
  width: 500px;
  margin-left: 202px;
}

.user-basket {
  max-width: 160px;
  margin-left: auto;
}

.site-navigation li,
.user-basket li {
  padding-right: 46px;
}

.site-navigation li:last-child,
.user-basket li:last-child {
  padding-right: 0;
}

.site-navigation a,
.user-basket a {
  display: block;
  padding-bottom: 3px;

  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

a.site-navigation-current:hover,
a.site-navigation-current:focus,
a.site-navigation-current:active {
  color: #000000;
}

.user-basket .basket-link {
  position: relative;
  padding-left: 41px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 0;

  width: 15px;
  height: 15px;

  background: url("../img/basket-icon.svg") no-repeat 0 0;
  opacity: 0.3;
}

/* Слайдер в шапке */

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider .container {
  padding-top: 10px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  vertical-align: middle;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 69px 0 80px 0;
}

.slider-item:nth-child(1) {
  background: #eeeeee url("../img/slide-1.png") no-repeat 93% 9px;
}

.slider-item:nth-child(2) {
  background: #eeeeee url("../img/slide-2.png") no-repeat 100% 0;
}

.slider-item:nth-child(3) {
  background: #eeeeee url("../img/slide-3.png") no-repeat 100% 20px;
}

.slide-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slide-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slide-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slide-1:checked ~ .slider-controls .slider-controls-item--1::before,
.slide-2:checked ~ .slider-controls .slider-controls-item--2::before,
.slide-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-1:focus ~ .slider-controls .slider-controls-item--1::after,
.slide-2:focus ~ .slider-controls .slider-controls-item--2::after,
.slide-3:focus ~ .slider-controls .slider-controls-item--3::after {
  -webkit-box-shadow: 0 0 0 2px #9dbff6;
  box-shadow: 0 0 0 2px #9dbff6;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

main.container {
  margin: 80px auto 0;
}

.slider-item-button {
  padding: 17px 53px 17px 55px;
}

/* Наши услуги */

.services {
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item div {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-item:nth-of-type(3n) {
  margin-right: 0;
}

.services-item h3 {
  margin-top: 0;
  margin-bottom: 17px;

  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item p {
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 30px;

  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.services-button {
  padding: 17px 39px;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

/* О нас */

.about {
  padding-top: 40px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 73px;

  border-bottom: 2px solid #eeeeee;
}

.about-info {
  width: 660px;
  padding-top: 34px;;
}

.about-slogan {
  display: block;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.about-info p {
  margin-top: 0;
  margin-bottom: 39px;

  color: #283136;
}

.about-order-list {
  display: block;
  margin-bottom: 23px;

  text-transform: uppercase;
  font-weight: 700;
}

.about-list {
  margin: 0;
  padding: 0;

  color: #283136;

  list-style: none;
}

.about-list li {
  position: relative;

  padding-left: 36px;
  margin-bottom: 24px;
}

.about-list li:last-child {
  margin-bottom: 0;
}

.about-list li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-features {
  width: 360px;
}

.about-logo-wrap {
  margin: 0;
  margin-bottom: 29px;
}

.about-features span {
  display: block;
  margin: 0 0 42px 17px;

  font-weight: 700;
  text-transform: uppercase;
}

.about-features dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-features .percent-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: calc(100% / 3 - 10px / 3);
  padding-right: 10px;
}

.percent-wrap sup {
  top: -14px;

  font-size: 60%;
}

.about-features dl,
.about-features dt,
.about-features dd {
  padding: 0;
  margin: 0;
}

.about-features dt {
  line-height: 1.13;
  color: #283136;
}

.about-features dd {
  margin-bottom: 18px;
  
  font-size: 45px;
  line-height: 1; /* По макету 10px */
  font-weight: 700;
}

/* Партнеры */

.partners {
  margin-bottom: 80px;
}

.partners-list {
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.partners-item {
  position: relative;

  width: 280px;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 20px;
  margin-right: 20px;
} 

.partners-item:nth-of-type(4n) {
  width: 260px;
  padding-right: 0;
  margin-right: 0;
}


.partners-list li::after {
  content: "";
  
  position: absolute;
  top: 50%;
  right: 0;
  
  width: 2px;
  height: 52px;
  margin-top: -26px;

  background-color: #eeeeee;
}

.partners-list li:last-of-type::after {
  content: none;
}

.partners-item a {
  opacity: 0.2;
  padding-top: 6px;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.partners-link img {
  vertical-align: bottom;
}

/* Как нас найти */

.map {
  position: relative;

  width: 100%;
  height: 416px;
  margin-bottom: 70px;
}

.map .container {
  position: relative;

  height: inherit;
}

.map-substrate {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 416px;
  margin: 0;
}

.map-substrate img {
  width: 100%;
  height: inherit;
}

.map-contacts-wrapper {
  position: absolute;
  top: 13%;
  left: 20px;
  z-index: 2;

  width: 320px;
  height: 310px;
  padding: 48px 50px;

  background-color: #ffffff;
}

.map h3 {
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  text-transform: uppercase;
}

.map-contacts {
  margin-bottom: 36px;

  color: #666666;
  line-height: 1.13;
  font-style: normal;
}

.map-contacts a {
  color: #666666;
}

.map-contacts p {
  margin-top: 20px;
  margin-bottom: 0;
}

.button-letter {
  padding: 17px 44px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
}

/* Каталог */

.inner-page .main-header {
  padding-bottom: 107px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Фильтры */

.filters {
  width: 260px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

fieldset.grid-field {
  margin-top: 52px;
}

fieldset.features-field {
  margin-top: 45px;
}

.filter .price-field {
  margin-bottom: 62px;
}

.filter-title {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-title-price {
  letter-spacing: 0.58px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.filter .grid-list {
  padding-top: 17px;
}

.filter .features-list {
  padding-top: 16px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding: 39px 20px 0 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.max-price {
  text-align: right;
}

.price-item {
  width: 50%;

  line-height: 1.38;
  color: #283136;
  text-transform: uppercase;
}

.grid-list .filter-option:not(:first-of-type) {
  margin-top: 20px;
}

.features-list .filter-option:not(:first-of-type) {
  margin-top: 20px;
}

.price-item input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 8px;

  font: inherit;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border-radius: 5px;
  border: none;
}

.filter-option {
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat top center;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -34px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat top center;
  opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-radio + label:hover:disabled {
  opacity: 0.1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat top center;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: -34px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat top center;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox + label:hover:disabled {
  opacity: 0.1;
}

.filter-input + label {
  line-height: 1.25;
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio:focus + label,
.filter-input-checkbox:focus + label {
  -webkit-box-shadow: 0 0 0 2px #9dbff6;
  box-shadow: 0 0 0 2px #9dbff6;
}

.grey-button {
  margin-top: 48px;
  padding: 18px 88px;

  color: #000000;

  background-color: #eeeeee;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

/* Сортировка работ по параметрам */

.more-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 51px;
  margin-top: 3px;
}

.more-filters h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.more-filters ul {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  list-style: none;
}

.more-filters .sort-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 51px;
}

.more-filters .sort-order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-type-list .sort-item:not(:first-of-type) {
  margin-left: 25px;
}

.sort-order-list .sort-item:last-of-type {
  margin-left: 18px;
}

.sort-item a {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover,
.sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active,
a.sort-current {
  color: #000000;
}

.sort-order a {
  opacity: 0.2;
}

.sort-order a:hover,
.sort-order a:focus {
  opacity: 0.4;
}

.sort-order a:active,
a.sort-order-current {
  opacity: 1;
}

/* Наши работы */

.works {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 45px 140px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.works-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 360px;
  max-height: 616px;
  margin-bottom: 33px;

  text-align: center;
}

.browser {
  width: 360px;
  height: 40px;

  background: url("../img/browser.svg") no-repeat top center;
  opacity: 0.12;
}

.works-item p {
  margin: 0;
}

.works-description {
  position: absolute;
  bottom: 0;

  display: none;
  width: 360px;
  padding: 28px 80px 41px;
  
  background-color: #eeeeee;
}

.works-item:hover .works-description,
.works-item:focus-within .works-description {
  display: block;
}

.works-item:hover .browser,
.works-item:focus .browser {
  opacity: 1;
}

.works-item h3 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.works-item-link {
  color: #000000;
}

.works-item-link:hover,
.works-item-link:focus {
  color: #fb565a;
}

.works-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.works-item .works-item-text {
  margin-bottom: 30px;

  line-height: 1.13;
  text-align: center;
  color: #666666;
}

.works-item .button {
  padding: 17px 60px;
}

.works-item .button:active {
  color: #ffffff;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 27px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 16px;

  color: #000000;
  background-color: #eeeeee;

  overflow: hidden;
}

.pagination-item-next {
  width: 260px;
}

.pagination-item-next a {
  padding-left: 78px;
  padding-right: 78px;

  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Footer */

.main-footer {
  margin-bottom: 69px;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-left: 12px;
}

.footer-social li:nth-of-type(3n+1) {
  margin-left: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 79px;
  height: 79px;

  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active img {
  opacity: 0.3;
}

.footer-slogan {
  display: block;
  margin-bottom: 10px;

  color: #000000;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.footer-text {
  width: 760px;
  margin: 0;
  margin-top: 6px;

  line-height: 1.38;
  color: #444444;
}

/* Модальное окно */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  90% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  90% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  top: calc(50% - 314px);
  left: 50%; 
  z-index: 100;

  display: none;
  width: 960px;
  margin-left: -480px;
  padding: 68px 100px 84px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal h2 {
  margin: 0;
  margin-bottom: 41px;

  font-size: 45px;
  line-height: 1;
  color: #000000;
  font-weight: 500;
}

.letter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-group {
  margin: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.13;
  color: #000000;
  font-weight: 700;
}

.form-group input {
  width: 360px;
  height: 50px;
  padding: 14px 13px;
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 1.13;

  border: 2px solid #d7dcde;
}

.form-group textarea {
  width: 760px;
  height: 118px;
  padding: 14px 13px;

  font: inherit;
  font-size: 16px;
  line-height: 1.13;

  border: 2px solid #d7dcde;
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.form-group input:hover,
.form-group textarea:hover {
  border-color: #b4b9bb;
}

.form-group input:focus,
.form-group textarea:focus {
  color: #444444;

  border-color: #000000;
}

.form-group input:invalid,
.form-group textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.submit-form {
  padding: 17px 84px;
  margin-top: 48px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background: url("../img/close-cross.svg") no-repeat top center;
  opacity: 0.3;
  border: 0;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}